.h1-custom {
    font-family: var(--font-antonio);
    font-size: 8rem;
    line-height: 103px;
}

.h2-custom {
    font-family: var(--font-antonio);
    font-size: 4rem;
    line-height: 52px;
    letter-spacing: -1.5px;
}

.h3-custom {
    font-size: 1.2rem;
    line-height: 25px;
    letter-spacing: 2.6px;
    font-weight: 700;
}

.h4-custom {
    font-size: 1.1rem;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: 700;
}

