:root {
    --white: #FFFFFF;
    --primary: #070724;
    --gray: #38384f;
    --light-gray: #838391;

    --mercury: #419ebb;     
    --venus: #EDA249;     
    --earth : #6f2ed6;     
    --mars: #D14C32;     
    --jupiter: #D83A34;     
    --saturn: #CD5120;     
    --uranus: #1ec2a4;     
    --neptune: #2d68f0;     
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.4rem;
  background-color: var(--primary);
  color: var(--white);
}

a {
  font-family: inherit;
  text-decoration: none;
}
