$white: #ffffff;
$primary: #070724;
$gray: #38384f;
$light-gray: #838391;

$mercury: #419ebb;
$venus: #eda249;
$earth: #6f2ed6;
$mars: #d14c32;
$jupiter: #d83a34;
$saturn: #cd5120;
$uranus: #1ec2a4;
$neptune: #2d68f0;
